*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  min-height: 100vh;
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
.nav {
  align-items: center;
  background-color: #e74c3c;
  display: flex;
  font-size: clamp(1rem, 1.3vw, 1.7rem);
  height: 10vh;
  padding: 2vh 2vw;
}
.nav__brand {
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  margin-right: auto;
}
.nav__items {
  display: none;
  visibility: hidden;
}
@media only screen and (min-width: 768px) {
  .nav__items {
    display: grid;
    grid-auto-flow: column;
    visibility: visible;
  }
}
.nav > .nav__dropdown {
  display: grid;
  grid-auto-flow: column;
}
.nav > ul > li > a,
.nav button {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.nav__items > li > button {
  display: inline-flex;
  align-items: center;
}
.nav__items > li > button:after {
  content: "";
  border: 4px solid transparent;
  border-top-color: #fff;
  margin-left: 0.4rem;
  transform: translateY(0.2rem);
}
.nav__items > li {
  margin: 0 3rem;
  position: relative;
}
.nav__items > li:hover .nav__dropdown, .nav__items > li:focus-within .nav__dropdown {
  opacity: 1;
  transform: translateX(-50%);
}
.nav__items > li:hover .nav__dropdown-link, .nav__items > li:focus-within .nav__dropdown-link {
  visibility: visible;
}
.nav__dropdown {
  background-color: #fff;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  color: #333;
  font-size: 0.9em;
  min-width: 10rem;
  opacity: 0;
  padding: 1vh 1.5vw;
  position: absolute;
  left: 50%;
  text-align: center;
  text-transform: capitalize;
  transform: translateX(-50%);
  transform-origin: top center;
  transition: all 180ms ease-in-out;
}
.nav__dropdown > li {
  margin-bottom: 0.4rem;
}
.nav__dropdown > li > a {
  color: #333;
  padding: 0.2rem;
  visibility: hidden;
  white-space: nowrap;
}
.nav__mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1.8rem;
  position: relative;
  width: 1.8rem;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .nav__mobile {
    display: none;
    visibility: hidden;
  }
}
.nav__mobile--span {
  background-color: #fff;
  display: block;
  height: 0.1rem;
  width: 100%;
}
.nav__mobile--check {
  cursor: pointer;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
}
.nav__mobile--check:checked ~ .sidebar {
  opacity: 1;
  transform: translateX(0);
}

.sidebar {
  background-color: #fff;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 10vh;
  transform: translateX(-150%);
  transition: transform 300ms ease-in-out, opacity 300ms ease 150ms;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
.sidebar__items {
  text-align: center;
}
.sidebar__item {
  margin: 2rem 0;
}
.sidebar__item > a {
  border: 2px solid #e74c3c;
  color: #e74c3c;
  display: block;
  font-size: clamp(1.4rem, 2vw, 2rem);
  margin: auto;
  text-transform: uppercase;
  padding: 1rem;
  width: 10rem;
}

.open-dialog {
  border: 1px solid #e74c3c;
  border-radius: 0.4rem;
  color: #333;
  display: inline-block;
  margin: 1rem 2vw;
  padding: 0.3rem 0.6rem;
  text-transform: uppercase;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 150ms ease;
  width: 100%;
  visibility: hidden;
}
.overlay:target {
  opacity: 1;
  visibility: visible;
}

.dialog__body {
  background-color: #fff;
  border: 2px solid #e74c3c;
  border-radius: 0.4rem;
  max-width: 600px;
  margin: auto;
  padding: 1.5rem;
  position: relative;
}
.dialog__body-close {
  color: #e74c3c;
  position: absolute;
  padding: 0 0.5rem;
  top: 5%;
  right: 5%;
}
.dialog__body-header {
  margin-bottom: 1rem;
}
.dialog__body .dialog__content {
  font-size: clamp(0.8rem, 1vw, 1.4rem);
}
.dialog__body .dialog__content-description {
  margin-bottom: 1rem;
}

.main {
  padding-left: 2vw;
}
.main__header {
  max-width: 600px;
  padding: 2rem 0;
  text-transform: uppercase;
}
.main__header > abbr {
  color: #e74c3c;
}

/*# sourceMappingURL=main.css.map */
