@use "variables" as v;

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    font-family: v.$font-style;
}

body {
    min-height: 100vh;
    line-height: 1.6;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms;
      animation-iteration-count: 1;
      transition-duration: 0.01ms;
      scroll-behavior: auto;
    }
  }