@use "variables" as v;

.sidebar {
    background-color: v.$color-light;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 10vh;
    transform: translateX(-150%);
    transition: transform 300ms ease-in-out,
                opacity 300ms ease 150ms;
    width: 100%;

    @media only screen and (min-width: 768px) {
        display: none;
    }
    
    &__items {
        text-align: center;
    }

    &__item {
        margin: 2rem 0;
    }
    
    &__item > a {
        border: 2px solid v.$color-primary;
        color: v.$color-primary;
        display: block;
        font-size: v.$font-lg;
        margin: auto;
        text-transform: uppercase;
        padding: 1rem;
        width: 10rem;
    }
}